.modal-header{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

#logo{
    height: 60px;
    /* width: 10px; */
}

#signuuuup{
     height: 350px;
     width: 350px;
     background-color: bisque;
     display: flex;
     justify-content: center;
     align-items: center;
     align-content: center;
     box-shadow: black 5px 5px 50px;
     border-radius: 20px;
     position: absolute;
     left: 35%;
     top: 25%;
}